
  <div class="con"> 
 <map name="user">
    <area shape="rect" coords="0,0,250,200" href="/data"/>
</map>
 <img class="image" src="./assets/table3.png"
  usemap="#user" name="hello"/>
  <map name="user2">
    <area shape="rect" coords="0,0,250,200" href="/tree"/>
</map>
<span>
 <img class="image" src="./assets/tree2.png" 
  usemap="#user2" />
</span>
<map name="user3">
    <area shape="rect" coords="0,0,250,200" href="/chart"/>
</map>
<span>
 <img class="image" src="./assets/chart1.png" 
  usemap="#user3" />
</span>
</div>
